# Sistema operacional (macOS e Windows)
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.log

# Configurações locais (ambientes virtuais Python)
.venv/
venv/
.env

# Python
__pycache__/
.ipynb_checkpoints/
*.py[cod]